.Logo {
    width: 32px;
    height: 32px;
    margin-right: 4px;
}

.Logos {
    text-align: right;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Title h2 {
    margin-bottom: 0;
}